
.profile-container {
  width: 100%;
  margin: auto;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow-y: auto;
  background-color: #090510;
  border-radius: 1.5rem;
  padding: 1.4rem;
  padding-bottom: 8.5rem;
  letter-spacing: 2px;

}

.user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  font-size: 22px;
  font-weight: bold;
  font-family: "impact", sans-serif;
  color: white;
  letter-spacing: 2px;
  margin-top: 6px;
}

.age-language {
  font-size: 13px;
  color: #6af6a2;
  font-family: "impact", sans-serif;
  margin-top: 10px;
  letter-spacing: 2px;
  gap: 0px;
}

.stats-container-profil {
  display: flex;
  align-items: flex-end;
  padding: 0px;
  border-radius: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #090510;
  padding: 15px;
  border-radius: 15px;
  margin: 2px 0;
  color:#333;
}

.stats-container {
  display: flex;
  align-items: flex-end;
  padding: 0px;
  border-radius: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #090510;
  padding: 15px;
  border-radius: 15px;
  margin: 2px 0;
  color:#333;
}


.stats-item-profil {
  text-align: center;
  flex: 1;
  font-family: "impact", sans-serif;
  background-color: #6af6a2;
  border-radius: 25px;
  margin: 5px;
  margin-bottom: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 2px 15px;
  display: flex;
  align-items: center;
  gap: 0px;
  white-space: nowrap;
}

.stats-item {
  text-align: center;
  flex: 1;
  font-family: "impact", sans-serif;
  background-color: #8576FF;
  border-radius: 25px;
  margin: 5px;
  margin-bottom: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 2px 15px;
  display: flex;
  align-items: center;
  gap: 0px;
  white-space: nowrap;
}

.stats-item-profil p {
  font-size: 15px;
  font-weight: 400;
  padding: 1px;
  margin-bottom: 0px !important;
  font-family: "impact", sans-serif;
  //align-items: center;
  gap: 0px;
  display: flex;
}

.stats-item p {
  font-size: 15px;
  font-weight: 400;
  padding: 1px;
  font-weight: normal;
  margin-bottom: 0px !important;
  color: white;
  letter-spacing: 1px;
  font-family: "impact", sans-serif;
  display: flex;
  gap: 0px;
}

.stats-item small {
  font-size: 12px;
  color: #888;
  font-weight: 400;
  letter-spacing: 0.5px;
  display: block;
  margin-top: 5px;
}
.section-title {
  font-size: 20px;
  font-family: "impact", sans-serif;
  //font-weight: bold;
  text-align: left;
  margin-bottom: 15px;
  color: white;
}

.answers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 20px 0;
}

.answers img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  height: 120px;
}

.events-container-profil {
  padding: 5px;
  border-radius: 15px;
  text-align: left;
  color: white;
  background-color: #090510;
  border-color: #6af6a2;
}

.event-item-profil {
  flex: 1;
  font-family: "impact", sans-serif;
  border: solid;
  border-color: #6af6a2;
  border-radius: 25px;
  margin: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-item {
  flex: 1;
  font-family: "impact", sans-serif;
  border: solid;
  border-color: #8576FF;
  border-radius: 25px;
  margin: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-text {
  font-size: 14px;
  color: #8576FF;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.event-text-profil {
  font-size: 14px;
  color: #6af6a2;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.events-title-profile {
  color: #6af6a2;
  margin-top: 28px;
  text-align: center;
  letter-spacing: 2px;
  //padding: 8px;
  font-family: impact;
  h5 {
    font-family: "Impact", sans-serif;
  }
}

.events-title {
  color: #8576FF;
  margin-top: 28px;
  text-align: center;
  letter-spacing: 2px;
  //padding: 8px;
  font-family: impact;
  h5 {
    font-family: "Impact", sans-serif;
  }
}

.event-title-bg {
  border-radius: 20px;
  letter-spacing: 2px;
  margin-top: 28px;
  font-family: impact;
  // padding: 10px;
  gap: 0.5rem;
}

.icone-profil {
  font-size: larger;
  margin-right: 12px;
  color: #161032;
}

.grid-symp {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: nowrap;
}
