
.profile-container {
  width: 100%;
  margin: auto;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow-y: auto;
  background-color: #090510;
  border-radius: 1.5rem;
  padding: 1.4rem;
  padding-bottom: 8.5rem;
}

.avatar{
  width: 110px;
  height: 110px;
  background-color: #e0e0e0;
  border-radius: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  font-size: 50px;
  color: #6af6a2;
  border: solid;
  border-color: #6af6a2;
}

.user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  font-size: 22px;
  font-weight: bold;
  font-family: "impact", sans-serif;
  color: white;
  letter-spacing: 2px;
  margin-top: 6px;
}

.age-language {
  font-size: 14px;
  color: #6af6a2;
  font-family: "Inter", sans-serif;
  margin-top: 10px;
}

.stats-container-profil {
  display: flex;
  // justify-content: space-between;
  align-items: flex-end;
  // background-color: #f8f9fa;
  padding: 0px;
  border-radius: 15px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  background-color: #090510;
  padding: 15px;
  border-radius: 15px;
  margin: 2px 0;
  color:#333;
  //margin-bottom: 3;
}

//
.stats-item-profil{
  text-align: center;
  flex: 1;
  font-family: "Inter", sans-serif;
  background-color: #6af6a2;
  border-radius: 25px;
  margin: 10px;
  // padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 2px 20px;
  display: flex;
  align-items: center;
  // box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.stats-item-profil p {
  font-size: 16px;
  font-weight: bold;
  padding: 2px;
  margin-bottom: 0px !important;
  font-family: "Inter", sans-serif;
}

// .stats-item small {
//   font-size: 14px;
//   color: #666;
//   font-family: "Inter", sans-serif;
// }
.stats-item p {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
  letter-spacing: 1px;
  font-family: "Inter", sans-serif;
}

.stats-item small {
  font-size: 12px;
  color: #888;
  font-weight: 400;
  letter-spacing: 0.5px;
  display: block;
  margin-top: 5px;
}
.section-title {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  text-align: left;
  margin-bottom: 15px;
  color: white;
}

.answers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 20px 0;
}

.answers img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  height: 120px; /* Fixe la hauteur pour des proportions uniformes */
}

.events-container-profil {
  padding: 15px;
  border-radius: 15px;
  text-align: left;
  color: #333;
}

.event-item-profil {
  text-align: center;
  flex: 1;
  font-family: "Inter", sans-serif;
  border: solid;
  border-color: #6af6a2;
  border-radius: 25px;
  margin: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 2px 20px;
  display: flex;
  align-items: center;
}


// .event-icon {
//   width: 40px;
//   height: 40px;
//   border-radius: 50%;
//   // background-color: #3498db;
//   margin-right: 15px;
// }

.event-text {
  font-size: 16px;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  text-align: center;
}

.events-title-profile {
  color: #6af6a2;
  // background-color: #8576FF;
  margin: auto;
  text-align: center;
  padding: 8px;
  font-family: impact;
  h5 {
    font-family: "Impact", sans-serif;
  }
  // background-color: #161032;
  // font-weight: 500;
  // line-height: 1.2;
  // color: var(--bs-heading-color);
}

.event-title-bg {
  // background-color: #8576FF;
  border-radius: 20px;
  // padding: 10px;
  gap: 0.5rem; /* Espace entre l'icône et le texte */
}

.icone-profil {
  font-size: larger;
  margin-right: 12px;
  color: #161032;

}
