<%
  image_url = case choice
  when "cosy" then "flashcard_mood_#{choice}.jpg"
  when "drink" then "flashcard_mood_#{choice}.jpg"
  when "party_night" then "flashcard_mood_#{choice}.jpg"
  when "museum" then "flashcard_mood_#{choice}.jpg"
  when "montagne" then "flashcard_vacances_#{choice}.jpg"
  when "plage" then "flashcard_vacances_#{choice}.jpg"
  when "city" then "flashcard_vacances_#{choice}.jpg"
  when "foret" then "flashcard_vacances_#{choice}.jpg"
  when "famille" then "flashcard_interest_#{choice}.jpg"
  when "amour" then "flashcard_interest_#{choice}.jpg"
  when "argent" then "flashcard_interest_#{choice}.jpg"
  when "travail" then "flashcard_interest_#{choice}.jpg"
  end
%>

<div class="choice-label">
  <%= image_tag image_url, alt: choice %>
</div>
