<div class="profile-container">
  <h1>Choose your vacation</h1>

  <%= simple_form_for(@user, url: update_life_choice_user_path(@user), method: :patch, html: { data: { turbo_method: :patch }}) do |f| %>
    <%= f.input :life_choice,
      collection: User::LIFE_CHOICES,
      as: :radio_buttons,
      collection_wrapper_tag: 'div',
      collection_wrapper_class: 'choices-wrapper',
      label_method: lambda { |choice| render 'users/choice_label', choice: choice },
      item_wrapper_class: 'choices-item',
      input_html: { class: 'choices-selector' } %>
    <div class="d-flex justify-content-center">
      <%= f.submit "next", class: "btn btn-primary" %>
    </div>
  <% end %>
