<div class="profile-container">
    <!-- Question Title -->
    <br>
    <h1>Choose Your Mood </h1>
    <br>

    </p>
    <br>
    <br>
    <!-- Options Grid -->
    <div class="options-grid">
      <!-- Option 1 -->
      <div class="option">
        <img src="https://res.cloudinary.com/dxhdcwxy0/image/upload/v1732723116/flashcard_vacances_montagne_hc31lz.jpg" alt="montagne">

      </div>

      <!-- Option 2 -->
      <div class="option">
        <img src="https://res.cloudinary.com/dxhdcwxy0/image/upload/v1732723116/flashcard_vacances_mer_snd8ic.jpg" alt="plage">

      </div>

      <!-- Option 3 -->
      <div class="option">
        <img src="https://res.cloudinary.com/dxhdcwxy0/image/upload/v1732723116/flashcard_vacances_ville_hup7qb.jpg" alt="city">

      </div>

      <!-- Option 4 -->
      <div class="option">
        <img src="https://res.cloudinary.com/dxhdcwxy0/image/upload/v1732723115/flashcard_vacances_foret_yff6lv.jpg" alt="foret">

      </div>
      <div class="espace">

      </div>
    </div>
    <br>
    <br>
  </div>
