 <div class="profile-container">
    <!-- Question Title -->
    <br>
    <h1>Choose Your Mood </h1>
    <br>

    </p>
    <br>
    <br>
    <!-- Options Grid -->
    <div class="options-grid">
      <!-- Option 1 -->
      <div class="option">
        <img src="https://res.cloudinary.com/dxhdcwxy0/image/upload/v1732723362/flashcard_mood_jrkyzo.jpg" alt="cosy">

      </div>

      <!-- Option 2 -->
      <div class="option">
        <img src="https://res.cloudinary.com/dxhdcwxy0/image/upload/v1732723114/flashcard_mood_bar_warrp5.jpg" alt="Drink">

      </div>

      <!-- Option 3 -->
      <div class="option">
        <img src="https://res.cloudinary.com/dxhdcwxy0/image/upload/v1732723114/flashcard_mood_fete_lesxj8.jpg" alt="party Night">

      </div>

      <!-- Option 4 -->
      <div class="option">
        <img src="https://res.cloudinary.com/dxhdcwxy0/image/upload/v1732723114/flashcard_mood_musee_fkcqae.jpg" alt="museum">

      </div>
      <div class="espace">

      </div>
    </div>
    <br>
    <br>
  </div>





