<footer class="app-footer">
  <nav class="footer-nav">
    <a href="#event" class="footer-item">
      <i class="fa-regular fa-calendar-days"></i>
     </a>
    <a href="#matchy" class="footer-item">
      <i class="fa fa-hand-holding-heart"></i>
    </a>
    <a href="#messages" class="footer-item">
      <i class="fa fa-message"></i>
    </a>
    <a href="#profile" class="footer-item">
      <i class="fa fa-user"></i>
     </a>
  </nav>
</footer>
