<div class="page-content" data-controller="transition" data-transition-target="content">
<div class="background">
</div>

<div class="text">
    <h1><%= image_tag 'friendzone_home.png', alt: 'Friendzone Logo' %></h1>
    <%# <h2 class="impact-regular">that doesn't hurt</h2> %>
</div>

<div class="content button-container impact-regular">
    <p>
    <%= link_to 'Sign in', new_user_session_path, class: 'button transition-link', data: { action: "click->transition#fadeOut" } %>
    </p>
    <p><%= link_to 'Sign up', new_user_registration_path, class: 'button' %></p>
</div>
</div>
