.app-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color:#090510;
  border-top: 0.2px solid black;
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.footer-nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.footer-item {
  text-align: center;
  color: #1EDD88;
  text-decoration: none;
  font-size: 14px;
  flex: 1;
}

.footer-item i {
  font-size: 20px;
  margin-bottom: 5px;
  display: block;
}

.footer-item:hover {
  color: white;
}
