.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  height: 70px;  /* Ajustez cette valeur pour réduire la hauteur de la navbar */
  padding: 0 10px;  /* Ajoutez du padding si vous voulez un peu d'espace autour des éléments */
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.logo-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.avatar-container {
  display: flex;
  justify-content: flex-end; /* Aligne l'avatar à droite */
}

.img_navbar {
  height: 70px;
  width: 190px;
  object-fit: contain;  /* Assurez-vous que l'image ne soit pas déformée */
}
