/* Navbar principale */
.navbar-lewagon {
  display: flex;
  justify-content: center; /* Centrer tous les éléments horizontalement */
  align-items: center;  /* Centrer les éléments verticalement */
  background-color: #090510;
  height: 70px;  /* Ajustez la hauteur de la navbar */
  padding: 0 10px;  /* Réduit l'espace intérieur global */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 0.2px solid #090510;
}

/* Container pour le logo, décalé légèrement vers la droite */
.logo-container {
  display: flex;
  justify-content: center;  /* Centrer horizontalement */
  align-items: center;  /* Centrer verticalement */
  flex-grow: 1;  /* Prendre toute la largeur restante */
  margin-left: auto;
  margin-right: auto; /* Décale le logo vers la droite */
}

/* Logo : ajustement de la taille */
.img_navbar {
  height: 60px;  /* Ajuste la hauteur du logo */
  object-fit: contain;  /* Garde la proportion du logo */
}

/* Container pour le lien "Log out" */
.navbar-nav {
  display: flex;
  justify-content: flex-start;  /* Aligne le lien à gauche dans son conteneur */
  align-items: center;  /* Centrer verticalement */
  margin-left: auto;  /* Force le lien à se décaler vers la droite */
  margin-right: 5px;  /* Réduit la marge à droite pour le déplacer plus vers le bord */
}

/* Style du lien "Log out" */
.logout { /* Fond transparent */
  color: white;  /* Texte en blanc */
  font-size: 13px;
  text-decoration: none;
  margin-bottom: 13px;
}

/* Style au survol du lien */
.logout :hover {
  background-color: #4da75f;  /* Fond plus sombre au survol */
}

/* Ajuster l'élément body pour ne pas être masqué par la navbar fixe */
body {
  margin-top: 80px;  /* Ajustez selon la hauteur de la navbar */
}
