.profile-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow-y: auto;
}

.stats-container {
  display: flex;
  // justify-content: space-between;
  // background-color: #f8f9fa;
  padding: 0px;
  border-radius: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #090510;
  padding: 15px;
  border-radius: 15px;
  margin: 2px 0;
  color:#333;
}



.stats-container div p {
  margin: 0;
  // font-size: 1.2rem;
  font-weight: bold;
}

.stats-container div small {
  // display: block;
  font-size: 0.9rem;
  color: #6c757d;
}

.stats-item {
  text-align: center;
  flex: 1;
  font-family: "Inter", sans-serif;
  background-color: #8576FF;
  border-radius: 25px;
  margin: 10px;
  // padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 2px 20px;
  display: flex;
  align-items: center;
  gap: 5px; /* Espace entre l'icône et le texte */
  white-space: nowrap;
}

.section-title {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  color:#333;
}


.answers-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px 0;
}

.answers img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  height: 120px; /* Fixe la hauteur pour des proportions uniformes */
}

.events-container {
  padding: 15px;
  border-radius: 15px;
  text-align: left;
  color:#333;
}

.events-title h5 {
  color: #8576FF;
  font-family: "Impact", sans-serif;
  font-weight: bold;

}
.events-container h5 {
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
}

.event-item {
  flex: 1;
  font-family: "Inter", sans-serif;
  border: solid;
  border-color: #8576FF;
  border-radius: 25px;
  margin: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 10px 20px; /* Adjusted padding for better spacing */

  /* Use flexbox to center content */
  display: flex;
  justify-content: center; /* Horizontally centers the content */
  align-items: center;
}

.event-item:last-child {
  margin-bottom: 0;
}

.event-icon {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.event-text {
  font-size: 16px;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

// .event-icon.event1 {
//   background-color: $green;
// }

// .event-icon.event2 {
//   background-color: #4dabf7;
// }

// .event-icon.event3 {
//   background-color: #4dabf7;
// }

.about {
  text-align: left;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 10px;
  margin-top: 20px;
}

.action-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.action-buttons button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  // border-style: none;
}

.button-label {
  margin-top: 5px;
  font-size: 1rem;
  font-weight: bold;
  color: #6c757d;
  text-align: center;
}

.name {
  text-align: center;
}

.top-30 {
  top: 28%;
}

.body-better {
  height: 40vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
